.ifdept {    
    margin-bottom:50px;
}

.ifdept__img {
    background-image:url("../img/ifdept-img-mobile.jpg");
    width: 300px;
    height: 396px;    
}
.ifdept__text {
    margin-bottom:20px;
}
.ifdept__block {
    width:300px;
}

@media(min-width:768px) {
    .ifdept {    
        font-size: 13px;
        margin-bottom:50px;
    }
    .ifdept__img {
        margin-top: 59px;
        background-image:url("../img/ifdept-img-tablet.jpg");
        width: 344px;
        height: 463px;
        float:right;
    }
    .ifdept__block {
        width:374px;
        float:left;
    }

}

@media(min-width: 1200px) {
    .ifdept {
        font-size: 15px;
    }
    .ifdept__img {
        margin-top: 59px;
        background-image:url("../img/ifdept-img-desktop.jpg");
        width: 415px;
        height: 514px;        
    }
    .ifdept__block {
        width:460px;        
    }

}