.notpay {
    background-image:url("../img/notpay-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding: 15px 0;
    margin-bottom:38px;
    color:white;
    & li {
        margin-bottom: 5px;
    }
}
.notpay__title {
    font-size:18px;
}
@media(min-width:768px) {    
    .notpay {
        padding: 54px 0;
    }
    .notpay__title {
        font-size: 30px;
        line-height: 39px;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 20px;        
    }
}
@media(min-width: 1200px) {
    
}