.ready {    
    background-image:url("../img/notpay-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding: 120px 0 140px 0;
    margin-bottom:20px;
}